*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
  width: 100vw;
}

/* header part starts here!!! */
.header{
  background-color: white;
  width: 100vw;
  height: 4.5rem;
  padding: 1.5rem 2.5rem;
  display: flex;
  box-shadow: 0px 0px 2px #8b8b8b;
  position: relative;
}

.sub-box-1{
  width: 35rem;
  display: flex;
  justify-content: space-between;
}

.read-more:hover{
  color: #116dff;
}

/* logo box */
.logo-box{
  width: 3.8rem;
  margin-left: 0.4rem;
}

img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.logo-link{
  text-decoration: none;
}

/* device-box */
.device-box{
  width: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-box{
  width: 1.7rem;
}

.mobile-box{
  width: 1rem;
}

.vertical-line{
  color: #20303c;
  align-self: stretch;
}

.mobile-hover-img{
  display: none;
}

.mobile-box,.desktop-box{
  cursor: pointer;
}

.mobile-box:hover .mobile-img{
  display: none;
}

.mobile-box:hover .mobile-hover-img{
  display: inline;
}

/* sub-box-2 */
.sub-box-2{
  width: 45rem;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}


/* edit-btn */
.edit-btn{
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-color: #116dff;
  color: white;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #116dff;
  border-radius: 25px;
}

.edit-btn:hover{
  opacity: 0.8;
}

.edit-description{
  font-size: 1rem;
  color: #20303C;
}

.read-more{
  font-size: 0.9rem;
  color: #20303C;
}

/* navigation bar */
.navigation-bar{
  width: 100%;
  height: 5.6rem;
  background-color: rgb(234,230,220);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* nav-logo */
.nav-logo{
  align-self: flex-start;
  width: 10rem;
  display: flex;
}

.cat-logo-box{
  width: 5rem;
}

.logo-title{
  color: rgb(225,83,60);
  font-size: 1.4rem;
  align-self: flex-end;
}

/* nav-menu-option */
.nav-menu-option a{
  color: rgb(225,83,60);
  text-decoration: none;
  font-size: 0.9rem;
}

.nav-menu-option{
  width: 30rem;
  display: flex;
  justify-content: space-between;
}

.nav-menu-option .home-opt{
  color: #494646;
}

.nav-menu-option a:hover{
  color: #494646;
}